
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to Stock_monitor!</h1>
			  <div class="divsec">
			  <h1>Network Visualization</h1>
			    <div id="visnet"></div>
          <div ng-repeat="layer in network.layers" 
          class = "layer" 
          ng-class="layer_class(layer.layer_type)">
            <div class="layer_act">
              Activations:<br>
            </div>
            <div class="ltitle">
            {{layer.layer_type}}
            </div>
            <div ng-if="layer.kW">
              Input Frame Size: {{layer.inputFrameSize}} </br>
              Kernel Size: {{layer.kW}} </br>
              Kernel Number: {{layer.outputFrameSize}} </br>
              Stride: {{layer.dW}}
            </div>
            <div ng-if="layer.weight">
            parameters: 
              {{layer.weight.size.join(" x ")}} +  {{layer.bias.n_element}}  = 
              {{layer.weight.n_element + layer.bias.n_element}}
            </div>
            <div class="clear"></div>
          </div>
			  </div>
			 
        </div>
    </div>
</div>